#left{
    background-color: rgba(153, 204, 255, 0.52);
    height: 100%;
    text-align: center;
    border-right-style: solid;
    border-right-width: 2.7px;
    border-right-color: #efefef;
}

#right{
    background-color: #fff;
    height:100%;
    overflow-y: auto;
    margin:0 !important;
    padding:0 !important;
}
#about, #projects, #contact, #experience{
    width:100%;
    text-align: center;
    float:none;
    padding: 0 !important;
}
#about{
    position:relative;
    height:100%;
}
#projects{
    margin-top: 100px;
}
#contact{
    padding-top: 158px !important;
    height: 88vh;
}
#experience{

}
/*  Image Styles  */

#decode-img{
  margin-top:45px;
  margin-bottom:80px;
}
#theory6-img{
  margin-bottom:15px;
  margin-top:10px
}
#profile-img{
  margin-top:60px;
  margin-bottom:30px;
}
#telepin-img{
  margin-bottom: 15px;
  height:170px;
}
#campustec-img{
  margin-top:50px;
  margin-bottom:72px;
  height:60px;
}

#blackberry-img{
    margin-top: 50px;
    width: 306px;
    margin-bottom: 81px;
}

#klipfolio-img{
    margin-top: 50px;
    margin-bottom: 64px;
    height:70px;
}

#episodebrain-img{
    margin-top: 85px;
    margin-bottom: 93px;
}

#footymanager-img{
    height: 185px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#decode-img{
    height:101px;
}

#movierater-img{
height: 150px;
    margin-top: 15px;
    margin-bottom: 17px;
}

#ugo-img{
        margin-top: 26px;
    margin-bottom: 30px;
    width: 266px;
}

#episodebrain-img{
    width:266px;
}

#startit-img{
    height: 145px;
    margin-top: 22px;
    margin-bottom: 15px;
}


/*  End Image Styles  */

.row-fluid{
    height: 390px;
}


.light{
    border-color: #000;
    width:100px;
}

.container-fixed{
    height: inherit;
    width:100%;
    height:100%;
    overflow:hidden;
}

.row{
    height:inherit;
}

.padding-top{
    margin-top: 35px;
}

.info-side{
    position: relative;
    top: 35%;
    width: 201px;
}
.info-page{
    overflow-x: auto;
}

.picture, .description{
    text-align: center;
    top:15%;
}

.picture{
    padding-left: 130px;
}

.description{
    padding-top: 115px;
    padding-right: 100px;
}

.about-me{
    height:100vh;
}

html, body{
    height:100%;
    font-family: 'Montserrat', 'sans serif';
}

.col-md-4{
    height: 374px;
    display:inline-block;
}

/*  Mobile display  */
@media(max-width: 1130px) {
    #left {
        background-color: rgba(153, 204, 255, 0.52);
        width: 100%;
        height: 98px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-right-width: 0;
        border-right-color: #e7e7e7;
    }
    #right{
        width: 100%;
    }
    #about, #project, #contact{
        width:100%;
        text-align: center;
    }
    #projects{
 
        height:100%;
    }
    #contact{

        height: 50%;
    }
    #experience{

      height:100%;
    }
    #profile-img{
      margin-top:30px;
    }
    .info-side{
        top:0;
        width:auto;
    }
    .row-fluid{
        height: 1100px;
    }
    .picture{
        padding-left: 0;
        padding-right:0;
            height: 350px;
    }

    .description{
        padding-top: 0;
        padding-right: 0;
        padding-left:0;
    }

    .picture, .description{
        top:0;
    }

}
