#left{
    background-color: rgba(153, 204, 255, 0.52);
    height: 100%;
    text-align: center;
    border-right-style: solid;
    border-right-width: 1px;
}

#right{
    background-color: #F0F0F0;
    height:100%;
    overflow-y: auto;
    margin:0 !important;
    padding:0 !important;


}
#about, #projects, #contact, #experience{
    width:100%;
    text-align: center;
    float:none;
    padding: 0 !important;
    position: absolute;
}
#about{
    position:relative;
    height:100%;
}
#projects{
    top: 600px;
    height:100%;
}
#contact{
    top: 1000px;
    height:100%;
}
#experience{
  top:300px;
  height:100%;
}


.light{
    border-color: #000;
    width:100px;
}
.container-fixed{
    height: inherit;
    width:100%;
    height:100%;
    overflow:hidden;
}
.row{
    height:inherit;
}
.row-fluid{
}
.col-md-4{
    display:inline-block;
}

.info-side{
    position: relative;
    top: 35%;
}
.info-page{
    overflow-x: auto;
}

html, body{
    height:100%;
    font-family: 'Montserrat', 'sans serif';
}

@media(max-width: 966px) {
    #left {
        background-color: rgba(153, 204, 255, 0.52);
        width: 100%;
        height: 98px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-right-width: 0;

    }
    #right{
        width: 100%;
    }
    #about, #project, #contact{
        width:100%;
        text-align: center;

    }
    .info-side{
        top:0;
    }
}
