html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

a:hover, a:focus, a:active {
  color: #7aa3cc;
}

.row.header {
  display: flex;
  flex-direction: row;
  height: 10rem;
  margin: 0;
  background-color: #1ec0ff;
  color: #fff;
}

.brand{
  flex: 1 0;
}

.name{
  margin-left: 3rem;
}

.name-img {
  height: 10rem;
}

.links{
  align-items: center;
  display: flex;
  flex: 0 1;
}

.links > a {
  color: #fff;
}

.header-link{
  padding-left:20px;
  padding-right:20px;
}

.page-one {
  background-color: #fff;
  color: #1ec0ff;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.about-me {
  justify-content: center;
  display: flex;
}

.heading{
  color: #24b47e;
}

.plain{
  color: #000;
}

#about, #projects, #experience {
  width: 100%;
  float: none;
  padding: 0 !important;
}

#about {
  position: relative;
  height: 100%;
}

#projects {
  margin-top: 60px;
}

/*  Image Styles  */

.company-logo {
  height: inherit;
}

#decode-img {
  width: 57px;
}

#theory6-img {
  margin-bottom: 15px;
  margin-top: 10px
}

#profile-img {
  margin-top: 60px;
  margin-bottom: 30px;
}

#telepin-img {
  width: 72px;
}

#campustec-img {
  height: inherit;
}

#blackberry-img {
  width: 72px;
}

#kijiji-img {}

#klipfolio-img {
  height: 58px;
  width: 55px;
}

#episodebrain-img {}

#footymanager-img {
  height: inherit;
}

#movierater-img {
  height: inherit;
}

#ugo-img {
  height: inherit;
}

#episodebrain-img {
  width: 80px;
  height: inherit;
}

#startit-img {
  height: inherit;
}

.btn-default {
  border-radius: 15px;
  margin: 11px;
  margin-top: 25px;
}

/*  End Image Styles  */

.row-fluid {
  height: 390px;
}

.light {
  border-color: #1ec0ff;
  width: 100px;
}

.container-fixed {
  height: inherit;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.row {
  height: inherit;
}

.padding-top {
  margin-top: 35px;
}

.info-page {
  overflow-x: auto;
}

.picture, .description {
  text-align: center;
  top: 15%;
}

.picture {
  padding-left: 130px;
}

.description {
  padding-top: 115px;
  padding-right: 100px;
}

.about-me {
  height: 100%;
}

.col-md-4 {
  height: 374px;
  display: inline-block;
}

.job {
  height: 190px;
  float: left;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.job-name {
  font-size: 33px;
  margin-left: 16px;
  /* margin-left: 11px; */
  line-height: 60px;
  margin-bottom: 0;
}

.job-info, .project-info {
  display: flex;
  font-size: 16px;
}

.job-date, .project-date {
  margin-left: 9px;
}

.job-title, .project-title {
  display: flex;
  margin-bottom: 10px;
  height: 60px;
}

.project-title {
  height: 90px;
}

.project-name {
  line-height: 90px;
  margin-left: 20px;
  font-size: 33px;
  margin-bottom: 0 !important;
}

.experience-title, .projects-title {
  font-size: 45px;
  margin-bottom: 30px;
}

.job-description {
  width: 65%;
}

.project {
  height: 220px;
  padding-left: 20px;
}

.project-image {
  height: 215px;
}

.social-button {
  visibility: hidden;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*  Mobile display  */

@media(max-width: 988px) {
  #left {
    background-color: rgba(153, 204, 255, 0.52);
    width: 100%;
    height: 98px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-width: 0;
    border-right-color: #e7e7e7;
  }
  #right {
    width: 100%;
  }
  #about, #project {
    width: 100%;
    text-align: center;
  }
  .about-me {
    height: 680px;
  }
  #experience {
    height: 1130px;
  }
  #profile-img {
    margin-top: 30px;
  }
  .picture {
    padding-left: 0;
    padding-right: 0;
    height: 350px;
  }
  .description {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
  .picture, .description {
    top: 0;
  }
  .padding-top {
    margin-top: 0px;
  }
}
