body{
    width:99vw;
    height:95vh;
    text-align: center;
    background-color:#ffebeb;
    font-family: 'Cabin', sans-serif;
}

.top-row{
    font-size: 65px;
    padding-top: 17vh;
}

.bottom-row{
    font-size:45px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


@media (max-width:1000px){
    .top-row{
        padding-top: 28vh;
        font-size: 100px;
    }
    .bottom-row{
        font-size: 60px;
    }
}